/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/*Colors in rgb*/
:root {
  --light-green: 126, 213, 111;
  --medium-green: 84, 196, 122;
  --dark-green: 39, 180, 133;
  --light-grey: 240, 240, 240;
  --dark-grey: 119, 119, 119;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #777;
  line-height: 1.7;
  padding: 30px;
  box-sizing: border-box;
}

.section {
  margin-top: -15.5vh;
  padding-top: 25rem;
  padding-bottom: 6rem;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(300%);
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.btn-link {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  border-bottom: 1px solid rgb(var(--dark-green));
  color: rgb(var(--medium-green));
  padding-bottom: 0.3rem;
  transition: 0.3s all;
}
.btn-link:hover {
  color: white;
  background-color: rgb(var(--dark-green));
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.btn-link:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn {
  display: block;
  cursor: pointer;
  padding: 2rem 3rem;
  border: none;
  outline: none;
  border-radius: 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s all ease-in;
}
.btn--white {
  background-color: white;
  color: rgb(var(--dark-grey));
}
.btn--white::before {
  background-color: white;
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.btn:hover::before {
  transform: scaleX(1.6) scaleY(1.4);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 3rem;
  transform-origin: center;
  transition: 0.4s all ease-out;
}

.header {
  min-height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(var(--light-green), 0.8), rgba(var(--dark-green), 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  position: relative;
}
.header__title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
}
.header__title h1 span {
  display: block;
}
.header__title .btn {
  margin: 5rem auto 0;
}
.header__title .btn--animated {
  animation: moveUp 1s 1.5s backwards ease-in;
}
.header__title--main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.6rem;
  animation: moveRight 1.5s ease-in;
}
.header__title--sub {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  margin-left: 0.8rem;
  margin-bottom: 3rem;
  animation: moveLeft 1.5s ease-in;
}
.header__logo {
  position: absolute;
  top: 30px;
  left: 30px;
}
.header__logo img {
  height: 35px;
}

.about {
  background-color: rgb(var(--light-grey));
}
.about__title {
  margin: 1rem 0 2rem;
  text-align: center;
  font-size: 4.5rem;
  text-transform: uppercase;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgb(var(--light-green)), rgb(var(--dark-green)));
  transition: all 0.3s;
}
.about__title:hover {
  transform: skew(10deg, 2deg) scale(1.1);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.about__body {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin: 4rem auto;
  width: 120rem;
  max-width: 95%;
  padding-bottom: 3rem;
}
.about__body div {
  flex: 1 0 50%;
}
.about__body--left .paragraph {
  margin-bottom: 2.5rem;
}
.about__body--left .paragraph h3 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.about__body--left .paragraph p {
  font-size: 1.5rem;
}
.about__body--right {
  position: relative;
}
.about__body--right img {
  position: absolute;
  display: inline-block;
  transition: 0.3s all;
}
.about__body--right img.first {
  left: 0;
  top: 0;
}
.about__body--right img.second {
  left: 20%;
  bottom: 0;
  z-index: 10;
}
.about__body--right img.third {
  right: 4rem;
  top: 10%;
}
.about__body--right img:hover {
  outline: 8px solid rgb(var(--medium-green));
  border-radius: 15px;
  padding: 1rem;
  transform: scale(1.2);
  z-index: 20;
}

/*# sourceMappingURL=style.css.map */
