/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
/*Colors in rgb*/
:root {
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --primary-light: 126, 213, 111;
  --primary-medium: 84, 196, 122;
  --primary-dark: 39, 180, 133;
  --secondary-light: 255, 185, 0;
  --secondary-dark: 255, 112, 48;
  --tertiary-light: 60, 111, 221;
  --tertiary-dark: 8, 19, 142;
  --grey-light: 240, 240, 240;
  --grey-dark: 119, 119, 119;
  --grid-width: 110rem;
  --vertical-gap: 4rem;
  --horizontal-gap: 1.5rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #777;
  line-height: 1.7;
  padding: 30px;
  box-sizing: border-box;
}

.section {
  margin-top: -15.5vh;
  padding-top: 25rem;
  padding-bottom: 6rem;
  clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}

.text-center {
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
}

.mb-big {
  margin-bottom: 8rem;
}

.mb-medium {
  margin-bottom: 4rem;
}

.mb-small {
  margin-bottom: 2rem;
}

.mt-big {
  margin-top: 10rem;
}

.mt-medium {
  margin-top: 4rem;
}

.mt-small {
  margin-top: 2rem;
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  80% {
    transform: translateX(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  80% {
    transform: translateX(10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(300%);
  }
  80% {
    transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.heading-secondary {
  font-size: 3.7rem;
  text-transform: uppercase;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(to right, rgb(var(--primary-light)), rgb(var(--primary-dark)));
  transform-origin: center;
  transition: all 0.3s;
}
.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.heading-tertiry {
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-weight: 400;
}
.paragraph:not(:last-child) {
  margin-bottom: 4rem;
}

.row {
  margin: 0 auto;
  max-width: var(--grid-width);
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row:not(:last-child) {
  margin-bottom: var(--horizontal-gap);
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: var(--vertical-gap);
}
.row .col-1-of-2 {
  width: calc((100% - var(--vertical-gap)) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * var(--vertical-gap)) / 3);
}
.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * var(--vertical-gap)) / 3 + var(--vertical-gap));
}
.row .col-1-of-4 {
  width: calc((100% - 3 * var(--vertical-gap)) / 4);
}

.btn-link {
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  border-bottom: 1px solid rgb(var(--primary-dark));
  color: rgb(var(--primary-medium));
  padding-bottom: 0.3rem;
  transition: 0.3s all;
}
.btn-link:hover {
  color: white;
  background-color: rgb(var(--primary-dark));
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}
.btn-link:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn {
  display: block;
  cursor: pointer;
  padding: 2rem 3rem;
  border: none;
  outline: none;
  border-radius: 3rem;
  font-size: 1.8rem;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s all ease-in;
}
.btn--white {
  background-color: white;
  color: rgb(var(--grey-dark));
}
.btn--white::before {
  background-color: white;
}
.btn--primary {
  background-color: rgb(var(--primary-medium));
  color: rgb(var(--white));
}
.btn--primary::before {
  background-color: rgb(var(--primary-medium));
}
.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}
.btn:hover::before {
  transform: scaleX(1.6) scaleY(1.4);
  opacity: 0;
}
.btn:active {
  transform: translateY(-0.1rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: 3rem;
  transform-origin: center;
  transition: 0.4s all ease-out;
}

.header {
  min-height: 95vh;
  background-image: linear-gradient(to bottom right, rgba(var(--primary-light), 0.8), rgba(var(--primary-dark), 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0% 100%);
  position: relative;
}
.header__title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-transform: uppercase;
}
.header__title h1 span {
  display: block;
}
.header__title .btn {
  margin: 5rem auto 0;
}
.header__title .btn--animated {
  animation: moveUp 1s 1.5s backwards ease-in;
}
.header__title--main {
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.6rem;
  animation: moveRight 1.5s ease-in;
}
.header__title--sub {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.7rem;
  margin-left: 0.8rem;
  margin-bottom: 3rem;
  animation: moveLeft 1.5s ease-in;
}
.header__logo {
  position: absolute;
  top: 30px;
  left: 30px;
}
.header__logo img {
  height: 35px;
}

.composition {
  position: relative;
}
.composition__photo {
  position: absolute;
  width: 55%;
  z-index: 10;
  transition: 0.3s all;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba(var(--black), 0.4);
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.composition__photo--p3 {
  left: 22.5%;
  top: 10rem;
}
.composition__photo:hover {
  outline: 2rem solid rgb(var(--primary-medium));
  box-shadow: 0 2.5rem 4rem rgba(var(--black), 0.5);
  transform: scale(1.1) translateY(-1rem);
  z-index: 20;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.92);
}

.feature-box {
  background-color: rgba(var(--white), 0.8);
  border-radius: 3px;
  text-align: center;
  padding: 2rem;
  font-size: 1.5rem;
  box-shadow: 0 1.5rem 1.5rem rgba(var(--black), 0.2);
  transition: all 0.3s;
}
.feature-box__icon {
  font-size: 6rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-image: linear-gradient(to right, rgb(var(--primary-light)), rgb(var(--primary-dark)));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 1.5rem 1.5rem rgba(var(--black), 0.4);
}

.card {
  perspective: 120rem;
  -webkit-perspective: 120rem;
  -moz-perspective: 120rem;
  height: 50rem;
  position: relative;
}
.card__side {
  border-radius: 4px;
  height: 100%;
  width: 100%;
  box-shadow: 0 10px 10px rgb(var(--black), 0.2);
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.6s;
  backface-visibility: hidden;
}
.card__side--front {
  background-color: rgb(var(--white));
}
.card__side--back {
  transform: rotateY(180deg);
  display: grid;
  place-items: center;
}
.card__side--back-1 {
  background-image: linear-gradient(to bottom right, rgb(var(--secondary-light)), rgb(var(--secondary-dark)));
}
.card__side--back-2 {
  background-image: linear-gradient(to bottom right, rgb(var(--primary-light)), rgb(var(--primary-dark)));
}
.card__side--back-3 {
  background-image: linear-gradient(to bottom right, rgb(var(--tertiary-light)), rgb(var(--tertiary-dark)));
}
.card:hover .card__side--front {
  transform: rotateY(-180deg);
}
.card:hover .card__side--back {
  transform: rotateY(0);
}
.card__photo {
  height: 40%;
  background-size: cover;
  background-blend-mode: screen;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
}
.card__photo-1 {
  background-image: linear-gradient(to right, rgb(var(--secondary-light)), rgb(var(--secondary-dark))), url("../../img/nat-5.jpg");
}
.card__photo-2 {
  background-image: linear-gradient(to right, rgb(var(--primary-light)), rgb(var(--primary-dark))), url("../../img/nat-6.jpg");
}
.card__photo-3 {
  background-image: linear-gradient(to right, rgb(var(--tertiary-light)), rgb(var(--tertiary-dark))), url("../../img/nat-7.jpg");
}
.card__header {
  position: absolute;
  top: 10rem;
  right: 2rem;
  text-align: right;
  width: 70%;
}
.card__header--text {
  font-size: 3rem;
  color: rgb(var(--white));
  font-weight: 300;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.card__header--text-1 {
  background-image: linear-gradient(to right, rgb(var(--secondary-light)), rgb(var(--secondary-dark)));
}
.card__header--text-2 {
  background-image: linear-gradient(to right, rgb(var(--primary-light)), rgb(var(--primary-dark)));
}
.card__header--text-3 {
  background-image: linear-gradient(to right, rgb(var(--tertiary-light)), rgb(var(--tertiary-dark)));
}
.card__details {
  margin-top: 4rem;
}
.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.card__details ul li {
  color: rgb(var(--grey-dark));
  padding: 1rem 0;
}
.card__details ul li:not(:last-child) {
  border-bottom: 1px solid rgb(var(--grey-light));
}
.card__only {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 1.5rem;
}
.card__price {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-weight: 100;
  margin: 1rem 0 6rem;
  font-size: 5rem;
}

.testimonal {
  background-color: rgba(var(--white), 0.6);
  transform: skewX(-15deg);
  padding: 7rem 5.5rem;
  max-width: calc(var(--grid-width) - 22rem);
  margin: 5rem auto;
  box-shadow: 0 1.5rem 3rem rgba(var(--black), 0.2);
}
.testimonal__photo {
  position: relative;
  width: 13rem;
  aspect-ratio: 1/1;
  margin-right: 2rem;
  overflow: hidden;
  float: left;
  border-radius: 50%;
  -webkit-shape-outside: circle(50% at 50% 50%);
  -moz-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
}
.testimonal__photo img {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.3s all;
  transform: scale(1.2);
}
.testimonal__photo::after {
  content: attr(title);
  color: rgb(var(--white));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-36%, -20%);
  font-size: 1.7rem;
  opacity: 0;
  transition: 0.3s all;
}
.testimonal:hover .testimonal__photo img {
  filter: blur(2px) brightness(80%);
  transform: scale(1);
}
.testimonal:hover .testimonal__photo::after {
  opacity: 1;
  transform: translate(-36%, -50%);
}
.testimonal > * {
  transform: skewX(15deg);
}

.booking-card {
  max-width: calc(var(--grid-width));
  margin: 0 auto;
  padding: 5rem;
  border-radius: 3px;
  background-image: linear-gradient(105deg, rgba(var(--white), 0.9) 0%, rgba(var(--white), 0.9) 50%, transparent 50%, transparent 100%), url("../img/nat-10.jpg");
  background-size: cover;
  box-shadow: 0 1.5rem 3rem rgba(var(--black), 0.15);
}
.booking-card__form {
  width: 50%;
}

.form-group:not(:last-child) {
  margin-bottom: 2rem;
}

.field {
  border: none;
  border-bottom: 3px solid transparent;
  outline: none;
  background-color: rgb(var(--white));
  padding: 1rem 1.5rem;
  color: var(--grey-dark);
  font-size: 1.6rem;
  transition: 0.3s all;
  width: 90%;
  transition: 0.3s all;
  position: relative;
  z-index: 10;
}
.field ~ label {
  display: block;
  font-size: 1.4rem;
  font-weight: 600;
  transform: translateY(-3rem);
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  opacity: 0;
  transition: all 0.3s;
}
.field:focus {
  border-bottom-color: orange;
  box-shadow: 0 1.5rem 3rem rgba(var(--black), 0.15);
}
.field:focus:not(:invalid) {
  border-bottom-color: green;
}
.field:not(:placeholder-shown) ~ label {
  opacity: 1;
  transform: translateY(-7.5rem);
}

.radio {
  -webkit-appearance: none;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  border: 5px solid rgb(var(--primary-medium));
  border-radius: 50%;
  transform: translateY(0.5rem);
  position: relative;
}
.radio::before {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 50%;
  background-color: rgb(var(--primary-medium));
  opacity: 0;
  transform: scale(0);
  transition: all 0.15s;
}
.radio:checked::before {
  opacity: 1;
  transform: scale(1);
}
.radio:not(:checked) {
  cursor: pointer;
}
.radio ~ label {
  font-size: 1.7rem;
  margin-right: 5rem;
}

.section-about {
  margin-top: -20vh;
  padding: 20rem 0;
  background-color: rgb(var(--grey-light));
}

.section-features {
  padding: 25rem 0;
  background-image: linear-gradient(to bottom right, rgba(var(--primary-light), 0.8), rgba(var(--primary-dark), 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.section-features > * {
  transform: skewY(7deg);
}

.section-tours {
  margin-top: -10rem;
  padding: 25rem 0 15rem;
  background-color: rgb(var(--grey-light));
}

.section-testimonals {
  padding: 15rem 0 5rem;
  background-color: rgba(var(--grey-light), 0.8);
  position: relative;
  overflow: hidden;
}
.section-testimonals__video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
  z-index: -1;
}

.section-booking {
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgb(var(--primary-light)), rgb(var(--primary-dark)));
  min-height: 30rem;
}

/*# sourceMappingURL=style.css.map */
