.about{
    background-color: rgb(var(--light-grey));

    &__title{
        margin: 1rem 0 2rem;
        text-align: center;
        font-size: 4.5rem;
        text-transform: uppercase;
        -webkit-background-clip: text;
        color : transparent;
        background-image: linear-gradient(to right,
                        rgb(var(--light-green)), 
                        rgb(var(--dark-green)));
        transition: all 0.3s;
        
        &:hover{
            transform: skew(10deg, 2deg) scale(1.1);
            text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
    }

    &__body{
        display: flex;
        gap : 1rem;
        justify-content: flex-start;
        margin : 4rem auto;
        width : 120rem;
        max-width: 95%;
        padding-bottom: 3rem;

        div{
            flex : 1 0 50%;
        }

        &--left{
            .paragraph{
                margin-bottom: 2.5rem;

                h3{
                    font-size: 1.8rem;
                    text-transform: uppercase;
                    margin-bottom: 1rem;
                }

                p{
                    font-size: 1.5rem;
                }
            }
        }

        &--right{
            position: relative;

            img{
                position: absolute;
                display: inline-block;
                transition: .3s all;

                &.first{
                    left : 0;
                    top : 0;
                }
                &.second{
                    left : 20%;
                    bottom : 0;
                    z-index: 10;
                }
                &.third{
                    right : 4rem;
                    top : 10%;
                }

                &:hover{
                    outline : 8px solid rgb(var(--medium-green));
                    border-radius: 15px;
                    padding : 1rem;
                    transform: scale(1.2);
                    z-index: 20;
                }
            }
        }
    }
}