.btn-link{
    display: inline-block;
    font-size: 1.8rem;
    text-decoration: none;
    border-bottom: 1px solid rgb(var(--primary-dark));
    color : rgb(var(--primary-medium));
    padding-bottom: .3rem;
    transition: .3s all;

    &:hover{
        color : white;
        background-color: rgb(var(--primary-dark));
        transform: translateY(-3px);
        box-shadow: 0 10px 30px rgb(0, 0,0, 0.2);
    }

    &:active{
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgb(0, 0,0, 0.2);
    }
}