.composition{
    position: relative;

    @include respond(tab-port){margin-top: 3rem;}

    &__photo{
        position: absolute;
        width: 55%;
        z-index: 10;
        transition: .3s all;
        border-radius: .3rem;
        box-shadow: 0 1.5rem 4rem rgba(var(--black), .4);
        outline-offset: 2rem;

        @include respond(tab-port){
            width: 38%;
        }



        &--p1{
            left : 0;
            top : -2rem;

            @include respond(tab-port){top: 0;}
        }
        &--p2{
            right : 0;
            top : 2rem;
            @include respond(tab-port){top: 0; right: 0;}
        }
        &--p3{
            left : 22.5%;
            top : 10rem;
            @include respond(tab-port){top: -1rem; right: 31%; left: initial;}

        }

        &:hover{
            outline : 2rem solid rgb(var(--primary-medium));
            box-shadow: 0 2.5rem 4rem rgba(var(--black), .5);
            transform: scale(1.1) translateY(-1rem);
            z-index: 20;
        }
    }

    &:hover &__photo:not(:hover){
        transform: scale(.92);
    }
}