.header{
    min-height: 95vh;
    background-image: linear-gradient(
        to bottom right,
        rgba(var(--light-green),0.8),
        rgba(var(--dark-green),0.8)
    ), 
        url("../img/hero.jpg");
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    position: relative;

    &__title{
        position: absolute;
        top : 40%;
        left : 50%;
        transform: translate(-50%, -50%);
        color : white;
        text-transform: uppercase;
    
        h1 span{
            display: block;
        }

        .btn{
            margin: 5rem auto 0;

            &--animated{
                animation: moveUp 1s 1.5s backwards ease-in ;
            }
        }

        &--main{
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 3.6rem;
            animation: moveRight 1.5s ease-in;        
        }

        &--sub{
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: 1.7rem;
            margin-left: .8rem;
            margin-bottom: 3rem;
            animation: moveLeft 1.5s ease-in;        
        }
    }

    &__logo{
        position: absolute;
        top : 30px;
        left : 30px;

        img{
            height : 35px;
        }
    }
}

