/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*Colors in rgb*/
:root{
    --black: 0, 0, 0;
    --light-green : 126, 213, 111;
    --medium-green : 84, 196, 122;
    --dark-green : 39, 180, 133;
    --light-grey : 240, 240, 240;
    --dark-grey : 119, 119, 119;

    --grid-width: 110rem;
    --vertical-gap: 1.5rem;
    --horizontal-gap: 1.5rem; 
}


*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color : #777;
    line-height: 1.7;
    padding: 30px;
    box-sizing: border-box;
}
