/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

/*Colors in rgb*/
:root{
    --white: 255, 255, 255;
    --black: 0, 0, 0;
    --primary-light : 126, 213, 111;
    --primary-medium : 84, 196, 122;
    --primary-dark : 39, 180, 133;

    --secondary-light: 255, 185, 0;
    --secondary-dark: 255, 112, 48;

    --tertiary-light: 60, 111, 221;
    --tertiary-dark: 8, 19, 142;

    --grey-light : 240, 240, 240;
    --grey-dark : 119, 119, 119;

    --grid-width: 110rem;
    --vertical-gap: 4rem;
    --horizontal-gap: 1.5rem; 
}


*,
::after,
::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;
    color : #777;
    line-height: 1.7;
    padding: 30px;
    box-sizing: border-box;
}
