.heading-secondary{
    font-size: 3.7rem;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    color : transparent;
    background-image: linear-gradient(to right,
                    rgb(var(--primary-light)), 
                    rgb(var(--primary-dark)));
    transform-origin: center;                
    transition: all 0.3s;
    
    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}

.heading-tertiry{
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-weight: 400;

    &:not(:last-child){
        margin-bottom: 4rem;
    }
}