.heading-secondary{
    font-size: 4.5rem;
    text-transform: uppercase;
    background-clip: text;
    -webkit-background-clip: text;
    color : transparent;
    background-image: linear-gradient(to right,
                    rgb(var(--light-green)), 
                    rgb(var(--dark-green)));
    transition: all 0.3s;
    
    &:hover{
        transform: skew(10deg, 2deg) scale(1.1);
        text-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }
}

.heading-tertiry{
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph{
    font-weight: 400;

    &:not(:last-child){
        margin-bottom: 4rem;
    }
}